@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color: #212121;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.25em;
    text-align: center;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container, .content {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.content {
  flex-grow: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

#img {
    z-index: 0;
    filter:  grayscale(100%) blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

nav, #second-row, #scroll-down-icon {
    z-index: 2;
}

nav {
  background-color: transparent;
  height: 120px;
}

.navbar-light, .navbar-brand, .navbar:active, .nav-link {
  color: white !important;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.navbar-collapse {
  justify-content: flex-end;
}

#logo {
    z-index: 1;
    background-image: url('../images/logo_transparent.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    filter: contrast(300%) brightness(2);
}

#second-row {
    height: 100%;
    text-transform: uppercase;
    font-size: 20px;
    font-stretch: 100%;
    font-weight: 400;
    letter-spacing: 3.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mouse {
    width: 26px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .mouse::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    background-color: #fff;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  }
  
  @-webkit-keyframes scroll {
    0%, 20% {
      -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
      transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
      -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
      transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
      transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
      opacity: 0.01;
    }
  }
  @keyframes scroll {
    0%, 20% {
      -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
      transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
      -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
      transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
      transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
      opacity: 0.01;
    }
  }
  